<!DOCTYPE HTML>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135900841-1"></script>
		<script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-135900841-1');
		</script>
		<title>{% block title %}Apex VS Fortnite{% endblock %}</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="Compare Apex legends and Fortnite viewers based on top 20 streams" />
		<meta name="keywords" content="apex,apex legends,fortnite,epic games,battle royale,twitch,stream" />
        {% block stylesheets %}
			<link href="{{ asset('assets/css/main.css') }}" rel="stylesheet" />
			<link href="{{ asset('assets/css/progress-bar.css') }}" rel="stylesheet" />
        {% endblock %}
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section class="intro">
						<header>
							<h1>Apex VS Fortnite</h1>
                            <input type="radio" name="switch-color" id="red" checked>
                            <input type="radio" name="switch-color" id="cyan">
                            <input type="radio" name="switch-color" id="lime">
                            <div class="chart">
                                <div class="bar bar-{{ apexPercent }} white">
                                    <div class="face top">
                                        <div class="growing-bar"></div>
                                    </div>
                                    <div class="face side-0">
                                        <div class="growing-bar"></div>
                                    </div>
                                    <div class="face floor">
                                        <div class="growing-bar"></div>
                                    </div>
                                    <div class="face side-a"></div>
                                    <div class="face side-b"></div>
                                    <div class="face side-1">
                                        <div class="growing-bar"></div>
                                    </div>
                                </div>
                            </div>
                            <h3>Winner : {{ winner.name }}</h3>
                            <ul class="games-stats">
                                <li>{{ apex.name }} : <span class="apex percent">{{ apexPercent }}%</span></li>
                                <li><span class="apex">{{ nbApexViewers }}</span> viewers</li>
                                <li>{{ fortnite.name }} : <span class="fortnite percent">{{ 100 - apexPercent }}%</span></li>
                                <li><span class="fortnite">{{ nbFortniteViewers }}</span> viewers</li>
                            </ul>
                            <p class="infos">Stats from <span class="apex">20 first twitch streams</span> on each game.</p>
						</header>
						<div class="content">
							<span class="image fill" data-position="center"><img src="{% if imgGameWinner is not null %}{{ imgGameWinner }}{% else %}{{ asset('images/test.jpg') }}{% endif %}" alt="" /></span>
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>Streams</h2>
						</header>
						<div class="content">
							<!-- Section -->
                            <section>
								<header>
                                    <h3><a href="https://www.ea.com/fr-fr/games/apex-legends" target="_blank">Apex Legends</a></h3>
									<p>Apex Legends is a free to play battle royal from Respawn Entertainment and edited by Electronic Arts (EA). Launched on February 4, 2019 this game is cross platform (PC, PlayStation 4 and Xbox One). A game has 60 players by squad of 3.</p>
								</header>
                                <div class="content">
                                    <div class="gallery">
                                        <a href="https://www.twitch.tv/directory/game/Apex%20Legends" target="_blank"><img src="{{ imgApex }}" alt="apex legends cover" /></a>
                                    </div>
                                </div>
                            </section>
							<section>
								<div class="content">
									<ul class="feature-icons">
                                        {% for stream in apexStreams %}
											<li class="icon fa-laptop">
												<a href="https://www.twitch.tv/{{ stream.user_name }}" target="_blank" class="stream-item">
                                                    {{ stream.user_name }} <span class="viewers-count"><i class="fa fa-user"></i> {{ stream.viewer_count }}</span><br>
													<span class="stream-title">{{ stream.title }}</span>
												</a>
											</li>
                                        {% endfor %}
									</ul>
								</div>
							</section>
							<section>
                                <header>
                                    <h3><a href="https://www.epicgames.com/fortnite/fr/buy-now/battle-royale" target="_blank">Fortnite Battle Royale</a></h3>
                                    <p>Fortnite Battle Royale is also a free to play battle royal. Developed and edited by Epic Games this game was release on September 26, 2017. The advantage of this game is that it is available on all platforms (PC, PlayStation 4, Xbox One and Nintendo Switch) but also on smartphone (iOS and Android).</p>
                                </header>
								<div class="content">
									<div class="gallery">
										<a href="https://www.twitch.tv/directory/game/Fortnite" target="_blank"><img src="{{ imgFornite }}" alt="fortnite cover" /></a>
									</div>
								</div>
							</section>
							<section>
								<div class="content">
									<ul class="feature-icons">
                                        {% for stream in fortniteStreams %}
											<li class="icon fa-laptop">
												<a href="https://www.twitch.tv/{{ stream.user_name }}" target="_blank" class="stream-item">
													{{ stream.user_name }} <span class="viewers-count"><i class="fa fa-user"></i> {{ stream.viewer_count }}</span><br>
													<span class="stream-title">{{ stream.title }}</span>
												</a>
											</li>
                                        {% endfor %}
									</ul>
								</div>
							</section>
						</div>
					</section>

                <!-- Section -->
                <section>
                    <header>
                        <h2>Infos</h2>
                        <p>These data are based on the first 20 streams on <a href="https://www.twitch.tv/"><i class="fa fa-twitch"></i> Twitch</a> of each game.</p>
                    </header>
                </section>

				<!-- Section -->
					<section>
						<footer>
							<ul class="items">
								<li>
									<ul class="icons social">
										<li><a href="https://twitter.com/plopleo" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="https://www.instagram.com/plopleo/" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="https://github.com/Plopleo" target="_blank" class="icon fa-github"><span class="label">GitHub</span></a></li>
									</ul>
								</li>
							</ul>
						</footer>
					</section>
			</div>

        {% block javascripts %}
			<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
			<script src="{{ asset('assets/js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ asset('assets/js/browser.min.js') }}"></script>
			<script src="{{ asset('assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ asset('assets/js/util.js') }}"></script>
			<script src="{{ asset('assets/js/main.js') }}"></script>
        {% endblock %}
	</body>
</html>